<p id="notice"><%= notice %></p>

<div class="container">
	<hr />
	<h3>Archive show</h3>

	<% if current_user.id == @archive.user_id %>
		<%= link_to "Edit | ", [:edit, @group, @archive] %>
		<%= link_to "Destroy", group_archive_path(@group, @archive), method: :delete, data: {confirm: 'Are you sure?' } %>
	<% end %>

	</br>
	</br>
		<div>
			<strong>First & Last Name:</strong>
				<%= @archive.user.first_name %> <%= @archive.user.last_name %></br>

			<strong>Lift Name:</strong>
				<%= @archive.lift_name %></br>

			<strong>Weight:</strong>
				<%= @archive.lift_weight %></br>

			<strong>Video Validation:</strong>
<div class="container">
  <div class="row">
  	<% if @archive.video_link.present? %>
    <div class="col-sm-6">
			<!-- 16:9 aspect ratio -->
			<div class="embed-responsive embed-responsive-16by9">
				<%= embed(@archive.video_link) %>
			</div>
		</div>
		<% end %>
	</div>
</div>




			</br>
		</div>
	<%= render partial: "comments/form", locals: {commentable: @archive} %>
	<%= render partial: "comments/comments", locals: {commentable: @archive} %>

</div>