<p id="notice"><%= notice %></p>

<div class="container">
	<hr />
	<h3>Archive show</h3>
		<%= link_to "Edit", [:edit, @group, @archive] %>
		<%= link_to "Destroy", group_archive_path(@group, @archive), method: :delete, data: {confirm: 'Are you sure?' } %>

	</br>
	</br>
		<div>
			<strong>First & Last Name:</strong>
				<%= @archive.user.first_name %> <%= @archive.user.last_name %></br>

			<strong>Lift Name:</strong>
				<%= @archive.lift_name %></br>

			<strong>Weight:</strong>
				<%= @archive.lift_weight %></br>

			<strong>Video Validation:</strong>
				<%= @archive.video_link %></br>

			</br>
		</div>
	<%= render partial: "comments/form", locals: {commentable: @archive} %>
	<%= render partial: "comments/comments", locals: {commentable: @archive} %>

</div>