<%= form_for(@group) do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>
      <ul>
      <% @group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<h3>Add a user to your group</h3>
  <div class="field">
    <%# always adding current_user.id here works because only admins %>
    <%# of a group will have access to this view %>
    <%= hidden_field_tag "group[user_ids][]", current_user.id %>
    <% current_user.friends.each do |user| %>
      <%= check_box_tag "group[user_ids][]", user.id,
        @group.user_ids.include?(user.id), id: dom_id(user)%>
      <%= label_tag dom_id(user), user.first_name %> <%= user.last_name %> <%= user.email %><br>
    <% end %>
  </div>

  <div class="action">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
