<p id="notice"><%= notice %></p>

<h1>Listing Users</h1>

<div class="pull-right" style="margin-right: 10px">
  <%= search_form_for @q, html: {class: "form-inline" } do |f| %>
    <%= f.search_field :first_name_or_groups_group_name_cont, placeholder: "Search users or groups", class: "form-control" %>
  <% end %>
</div>
<br>
<br>
<br>


<table class="table table-bordered table-condensed table-striped">
  <thead>
    <tr>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.first_name%> <%= user.last_name%></td>
        <td><%= link_to 'Show', user %></td>
        <% if current_user.friend_requests.where(friend_id: user.id).present? %>
          <td>Friend Request Sent</td>
        <% elsif current_user.friendships.where(friend_id: user.id).present? %>
          <td>Already Friends</td>
        <% elsif user != current_user %>
          <td><%= link_to 'Add Friend', user_friend_requests_path(user_id: user.id), method: :post %></td>
        <% else %>
          <td></td>
        <% end %>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

