<p id="notice"><%= notice %></p>
<h1><%= @user.first_name %>'s Profile </h1>

<strong>Name:</strong>
<%= @user.first_name %>
<%= @user.last_name %>
<br>

<strong>Email:</strong>
<%= @user.email %><br>


<h3>Group & membership dump</h3>

	<table>
		<thead>
			<tr>
				<th>Group Name</th>
				<th>Role</th>
				<th colspan="3"></th>
			</tr>
		</thead>

		<tbody>
				<% @user.groups.each do |g| %>
					<% g.memberships.where(user_id: @user.id).each do |m| %>
						<tr>
							<td><%= g.group_name %></td>
							<td><%= m.group_role %></td>
							<td><%= link_to "See Group", group_path(g) %></td>
						</tr>
					<% end %>
				<% end %>

		</tbody>
	</table>



<h3>Archives</h3>

	<table>
		<thead>
			<tr>
				<th>Lift Name</th>
				<th>Lift Weight</th>
				<th>Video Validation</th>
				<th colspan="3"></th>
			</tr>
		</thead>

		<tbody>
			<% @user.archives.each do |a| %>
					<tr>
						<td><%= a.lift_name %></td>
						<td><%= a.lift_weight %></td>
						<td><%= a.video_link %></td>
						<td><%= link_to "See Archive", group_archive_path(a.group_id, a) %></td>
					</tr>
			<% end %>
		</tbody>
	</table>



<%= link_to 'Back', :back %>
